<h1>Welcome to Pig Out</h1>

<h3><a href="/FavRestaurants">List of Restaurants</a></h3>
<h3><a href="/Cuisines">List of Cuisine</a></h3>
<h3><a href="/favrestaurants/new">Add new restaurant</a></h3>
<h3><a href="/favrestaurants/search">Search for restaurant</a></h3>
