<h1>Add Cuisine huehuehue</h1>

<form action="/cuisines" method="post">
  <div class="">
    <label for="cuisineName">Cuisine Name:</label>
    <input type="text" name="cuisineName" required>
  </div>
  <div class="">
    <label for="cuisineDescription">Description:</label>
    <input type="text" name="cuisineDescription">
  </div>
  <button type="submit" class="">ADD</button>
</form>
<h3><a href="/">Home</a></h3>
<h3><a href="/favrestaurants">List of Restaurants</a></h3>
<h3><a href="/cuisines">List of Cuisines</a></h3>
