<h1>Add Restaurant</h1>

<form action="/favrestaurants" method="post">
  <div class="">
    <label for="restName">Restaurant Name:</label>
    <input type="text" name="restName" required>
  </div>
  <div class="">
    <label for="restType">Restaurant Cuisine Type:</label>
    <input type="text" name="restType" required>
  </div>
  <div class="">
    <label for="restLocation">Restaurant Location:</label>
    <input type="text" name="restLocation">
  </div>
  <div class="">
    <label for="restDescription">Restaurant Description:</label>
    <input type="text" name="restDescription">
  </div>
  <button type="submit" class="">ADD</button>
</form>

<h3><a href="/">Home</a></h3>
<h3><a href="/favrestaurants">List of Restaurants</a></h3>
<h3><a href="/cuisine">List of Cuisine</a></h3>
