<h1>Search For Restaurant</h1>

<form class="" action="/favrestaurants/search" method="post">
  <div class="radio">
   <div>
     <label>
      <input type="radio" name="searchFx" value="byName" checked>
      Search By Restaurant Name
    </label>
  </div>
  <div>
    <label>
     <input type="radio" name="searchFx" value="byCuisine">
     Search By Cuisine
    </label>
  </div>
 </div>
 <div class="">
   <input type="text" name="searchTerm" required>
 </div>
 <button type="submit" name="button">Search</button>
</form>

<h3><a href="/">Home</a></h3>
<h3><a href="/favrestaurants">List of Restaurants</a></h3>
<h3><a href="/cuisines">List of Cuisine</a></h3>
