<h1>Search For Restaurant</h1>

<form class="" action="/favrestaurants/search" method="post">
  <label for="nameOfRestaurant">Search By Name</label>
  <input type="text" name="nameOfRestaurant" required>
  <button type="submit" name="button">Search</button>
</form>

<h3><a href="/">Home</a></h3>
<h3><a href="/favrestaurants">List of Restaurants</a></h3>
<h3><a href="/cuisine">List of Cuisine</a></h3>
